
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.flash-message {
    bottom: 20px;
    height: auto;
    position: fixed;
    right: 20px;
    width: 250px;

    .alert {
        margin: 0;
    }
}
